body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.org{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 4%;
    float: left;
}
.half-width img{
    width: 70%;
}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 255, 170),rgb(5, 245, 253));
    padding: 10px 30px;
    color: rgb(16, 15, 15);
    font-weight: 700;
    border-radius: 5px;
}
p{
    text-align: justify;
}
.top{
background-image: url(img/top-banner.png);
background-repeat: no-repeat;
}
#width{
    width: 80%;
}
.mid{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
div{
    display: block;
}